node_modules
.next
/.DS_Store
.env
.env.*
.idx
.vercel
.idea
.DS_Store
*.log
*.swp
*.tmp
*.lock
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# genkit
genkit/secrets.dev.json
genkit/.temp

    